*{
    box-sizing: border-box;
}
body{
    background-image: url('https://www.pngmagic.com/product_images/beautiful-blue-color-background.png');
    background-repeat: no-repeat;
    background-size: 100vw 115vh;
    font-family: 'Urbanist';
    margin: 0px;
    padding: 0px;
    align-items: center;
}
.left{
    position: absolute;
    float : left;
    left: 40px;
    top: 13px;
    text-align: center;
    font-size: 30px;
    font-family: 'Roboto Slab', sans-serif;
    color: white;
}
.mid{
    width: 45%;
    margin: 21px auto;
}
.right{
    position: absolute;
    right: 40px;
    top: 26px;
}
.navbar div a{
    text-decoration: none;
    color:whitesmoke;
    padding: 36px 20px;
    right: 100px;
}
.navbar{
    display:flex;
    margin: 45px 20px;
}
.navbar div{
    margin: auto;
}
.navbar div a:hover{
    color:wheat;
}
.navbar div a:active{
    text-decoration: underline;
}
.left img{
    width: 130px;
}
div.main{
     text-align: center;
    border-radius: 50px;
    border: burlywood;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 2%;
    margin-top: 3%;
}
div.inner1{
    background-color:whitesmoke;
    padding: 25px;
    color: rgb(78, 78, 209);
    border-start-end-radius: 9px;
    border-top-left-radius: 9px;
    font-family: 'Handlee', cursive;}
div.inner2{
    text-align: left;
    background-color: rgb(82, 82, 230);
    padding: 25px;
    border-end-end-radius: 9px;
    border-bottom-left-radius: 9px;
}
.index{
    font-weight: bolder;
    font-size: 20px;
    font-family: 'Mali', cursive;
    /* color: rgb(4, 245, 253); */
    color: cornsilk;
}
h1,p.heading{
    margin: 0px;
}
input[type="text"],
input[type="email"],
input[type="massage"],
input[type="submit"],
textarea,select{
    width: 100%;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid black;
    /* box-shadow: 0.5px 0.5px 0.5px 0.5px #1a73e9; */
}
select{
    cursor: pointer;
}
input[type="submit"]{
    font-family: 'Urbanist';
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: none;
}
input[type="submit"]:hover{
    /* background-color: rgb(77, 74, 74); */
    background-color: rgb(78, 195, 241);
    color: whitesmoke;
    transition: 0.2s;
}
.back {
    color: black;
    text-decoration: none;
    font-size: 25px;
    margin-left: 45%;
    margin-bottom: -11px;
    margin-top: 7px;
    font-weight: bolder;
}
footer{
    overflow: hidden;
    background-color: #333;
}
footer a{
    display: block;
    color: whitesmoke;
    text-decoration: none;
    padding: 14px 20px;
    float: left;
}
.copyright{
    float: right;
}