body{
    margin:0px;
    padding:0px;
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 100%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 100%);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    color:white;
    /* font-family: 'Roboto Slab', sans-serif; */
    /* font-family: 'Noto Serif Display', serif; */
    font-family: 'Averia Libre', cursive;
    background-color: #EAF2F8;
 
}
.home,.slider{
    width: 100vw;
    height: 100vh;
}
 
.left{
    position: absolute;
    float : left;
    left: 40px;
    top: 13px;
    text-align: center;
    font-size: 30px;
    font-family: 'Roboto Slab', sans-serif;
    color: white;
 
}
.mid{
    width: 45%;
    margin: 21px auto;
    font-size: 22px;
}
/* .right{
    position: absolute;
    right: 40px;
    top: 26px;
} */
#xyz{
    font-family: 'Cinzel Decorative', cursive;
}
.navbar div a{
    text-decoration: none;
    color:whitesmoke;
    padding: 36px 20px;
    right: 100px;
    /* font-family: 'Zen Kaku Gothic Antique', sans-serif; */
    font-size: larger;
}
.navbar{
    display:flex;
    margin: 45px -31px;
}
.navbar div{
    margin: auto;
 
}
 
.navbar div a:hover{
    color:wheat;
}
.navbar div a:active{
    text-decoration-style: dashed;
}
.left img{
    width: 130px;
}
.btn{
    border: 3px solid grey;
    border-radius: 15px;
    margin: 2px;
    padding: 5px 17px;
    justify-content: space-evenly;
    font-size: 15px;
    cursor: pointer;
    /* font-family: 'Roboto Slab', sans-serif; */
    width: 100px;
    margin-top: 10px;
}
 
.tittle{
    width:78%;
    margin: auto;
    margin-top:10.5%;
    margin-left: 11vw;
    font-size: 102px; 
    height: 44vh;
    display:flex;
    align-items: center;
    justify-content: flex-end;
    color: whitesmoke;
    /* font-family: 'Lora', serif; */

    text-shadow:5px 4px 5px grey;
}
 
.p{
    font-size: 150%;
    margin-top: 123px   ;
}
 
#first{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    text-align: center;
    font-size:6rem;
    margin: 1px 5px;
}
 
#second{
    color: rgb(20, 63, 65);
    text-align: center;
    font-size:6rem;
    margin: 1px 5px;
    background:url('https://i.pinimg.com/564x/a2/f2/76/a2f276efb44c4346cad319a475061e13.jpg') ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vw 100vh; 
 
}
 
#third{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    text-align: center;
    font-size:6rem;
    margin: 1px 5px;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
 
.carousel {
    background: #EEE;
  }
  
  .carousel-cell {
    width: 66%;
    height: 100vh;
    margin-right: 10px;
    background: rgb(5, 245, 245);
    border-radius: 5px;
    counter-increment: gallery-cell;
  }
  
  .carousel-cell:before {
    display: block;
    text-align: center;
    content: counter(gallery-cell);
    line-height: 200px;
    font-size: 80px;
    color: white;
}
.read-more{
    font-size: 23px;
    cursor: pointer;
    padding: 8px;
    border-radius: 50px;
    width: 19%;
}
.design-heading{
    text-align: center;
    font-size: 50px;
    padding-top: 7vh;
    font-family: 'Noto Serif', serif;

}
 
.designs{
    background-color:#3498DB;
    border-radius: 3px;
    margin-top: 180px;
}
div h3{
    color: #EAECEE;
    font-family: 'Patrick Hand', cursive;
 
}
 
.wrapper1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(140px, auto);
    padding: 30px;
    padding-top: 0px;
    background-color: #85C1E9;
    height: 100%;
}
 
.iod{
    width: 90%;
    margin: 1.3vw;
    border-radius: 5px;
    box-shadow:mediumslateblue;
}
 
.d:hover{
    
    box-shadow: 1px 1px 15px black;
    transition: 0.5s;
    width: 95%;
    margin: 1vw;
    height: 430px;
    margin-top: auto;
}
 
.hd{
    text-align: center;
    margin-top: 20px;
    font-size: x-large;
    /* color: white; */
    text-decoration: underline;
    text-shadow: 1px 1px 3px white;
}
 
.d{
    /* background: #EBF5FB; */
    margin: 40px;
    height: 400px;
    border-radius: 5px;
    color:#283747 ;
}
 
#d1{
    background: url(https://www.linkpicture.com/q/1_179.png);
    background-repeat: no-repeat;
  background-size: cover;
}
#d2{
    background: url(https://www.linkpicture.com/q/2_196.png);
    background-repeat: no-repeat;
  background-size:cover;
}
#d3{
    background: url(https://www.linkpicture.com/q/3_95.png);
        background-repeat: no-repeat;
  background-size:cover;
}

footer{
    overflow: hidden;
    background-color: #333;
    margin: 0;
    font-family: 'Cinzel Decorative', cursive;
}
 
footer a{
    display: block;
    color: whitesmoke;
    text-decoration: none;
    padding: 14px 20px;
    float: left;
}
 
 
.copyright{
    float: right;
}
 
section h2{
    color: orchid;
}

 
.btn-grad,.detail1 {background-image: linear-gradient(to right, #24C6DC 0%, #514A9D  51%, #24C6DC  100%)}
.btn-grad {
    margin: 60px;
    padding: 15px 43px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    margin-left: 14%;
    text-decoration: none;
    margin-top: 37vh ;
}
 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
 }
 .detail1{
    margin: 60px;
    padding: 15px 43px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    margin-left: 4%;
    text-decoration: none;
 }
 .detail1:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
  }
 
/* .crt{
    
} */